{% extends "base.html" %}
{% load staticfiles %}
{% load core_template_tags %}

{% block scripts %}
   <script type="text/javascript" src="{% static 'js/explore/sign_up_controller.js' %}"></script>
{% endblock scripts %}

{% block main %}
	<section class="container">	

		<div class="col-md-5 col-md-offset-1" style="margin-top:25px;">
			<div class="card" style="padding:30px 0px;">
			<form class="form-horizontal form-container" name="signupform" ng-controller="SignUpController" 
			style="">
				
				<div class="form-group">
				    <div class="col-sm-10">
				    	<input type="text" class="form-control" id="name" placeholder="Company Name" required>
				    </div> 
			  	</div>


			  	<div class="form-group">
				    <div class="col-sm-10">
				    	<input type="email" class="form-control" id="email" placeholder="Client Email">
				    	<p class="custom_error_message" id="email_error">Email address is invalid</p>
                        <p class="custom_error_message" id="email_required">Email address is required</p>
                        <p class="custom_error_message" id="email_exists">Email address is taken by another user</p>
                        <p class="custom_error_message" id="company_id_error">Company email id is required</p>
				    </div>
			  	</div>
			  	
			  	<div class="form-group">
				    <div class="col-sm-10">
				   		<input type="password" class="form-control" id="password" placeholder="Password">
				   		<p class="custom_error_message" id="password_required">Password is required</p>
                        <p class="custom_error_message" id="password_length_error">Password must be at least 8 characters long</p>
                        <p class="custom_error_message" id="password_number_error">Password must have at least one number</p>
				    </div>
			  	</div>			  	

			  	<div class="form-group">
				    <div class="col-sm-10">
				   		<input type="number" class="form-control" id="phone_number" placeholder="Contact Number(Optional)">
				    </div>
			  	</div>

			  	<div class="form-group">
				    <div class="col-sm-10">
				   		<input type="number" class="form-control" id="idp_url" placeholder="Idp url" required>
				    </div>
			  	</div>

			  	<div class="form-group">
				    <div class="col-sm-12">
				    	<button type="submit" class="btn btn-default" ng-click="validate_form()" style="margin-left:25px;">Sign Up</button>
				    </div>
			  	</div>

			</form>
			</div>
		</div>

	</section>
{% endblock main %}