{% extends "base.html" %}
{% load staticfiles %}
{% load core_template_tags %}

{% block main %}
        <section class="content-block team-1 team-1-2">
            <div class="container">
                <div class="alert alert-success">
                    <b style="display: inline-block;">We have sent a verification email to you. Please follow the link in the email to verify your email address.&nbsp;</b>
                </div>
            </div>
            <!-- /.container -->
        </section>
{% endblock main %}