{% extends "base.html" %}
{% load staticfiles %}
{% load core_template_tags %}

{% block scripts %}
   <script type="text/javascript" src="{% static 'js/explore/forgot_pass.js' %}"></script>
{% endblock scripts %}

{% block main %}
   <section class="container">
        <div class="col-md-7" style="margin-top:25px;border: solid 2px rgba(0, 0, 0, 0.19); padding: 30px; border-radius: 17px;">
            <h4>Forgot Password</h4> 
            <form name="ForgotPassword" id="ForgotPassword" 
                onsubmit="return validate_email('ForgotPassword')" 
                method="POST"
                style=""
                action="/forgot_password/" enctype="multipart/form-data">{% csrf_token %}

                <div class="form-group">
                    <input name="email" type="text" {% if given_email %} value="{{given_email}}" {% endif %} class="form-control" id="email" placeholder="Email address"
                    style="display: block;">
                    <p class="custom_error_message" id="email_error">Email address is invalid</p>
                    <p class="custom_error_message" id="email_required">Email address is required</p>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default bg-aqua white no-shadow" value="Submit" style="margin-top:20px;display: block;">
                </div>
                {% if user_exists and message %}
                    <p style="padding-left:3px;" class="alert alert-success" role="alert">
                        {{ message }}
                    </p>
                 {% endif %}
                {% if not user_exists and message %}
                    <p class="custom_error_message" style="display:block;">{{ message }}</p>
               {% endif %}
            </form>
        </div>
        
   </section>
{% endblock main%}