<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Neighbr Invite</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body style="margin: 0;padding: 0; background: rgba(66, 139, 202, 0.15);">
		<table align="center" cellpadding="0" cellspacing="0" width="800" style="background:white;">
			<tr style="margin:0; border: solid 1px rgba(0, 0, 0, 0.27);">
				<td style="padding: 5px 0 0 15px;">
					<img height="25" src="http://{{host}}{% static 'img/logo_alt.png' %}" alt="pensieve"/>
				</td>
			</tr>
			<tr style="margin:0; border: solid 1px rgba(0, 0, 0, 0.27);">
				<td bgcolor="#ffffff" style="padding: 30px 30px 30px 30px;">
					<p>Hi,</p>
					<p>Based on your request to reset your password, we have created a temporary password for you.</p>
					<p>Please login with the following temporary password and change it.</p>
					<p>Password: {{ password }}</p>
				</td>
			</tr>

			<tr>
				<td align="center" style="padding-top:1px;padding-left:8%;padding-right:8%;font-family:helvetica neue,arial,helvetica,sans-serif;color:#8b8a86;font-size:16px;line-height:24px;font-weight:normal;padding-bottom:28px;padding-bottom:36px">
                  <a href="http://{{ host }}/reset_password/" style="display:block;padding:10px 2px 11px;width:200px;font-size:18px;line-height:21px;font-family:helvetica neue,arial,helvetica,sans-serif;text-decoration:none;font-weight:500;color:white;background-color:#19975d;border-radius:5px;text-align:center;width:160px" target="_blank">Reset password</a>

			    </td>
			</tr>
			<tr>
				<td style="padding: 30px 30px 30px 30px;">
					Cheers,<br>
					Neighbr Team
				</td>
			</tr>

		</table>
	</body>
</html>
